<div class="row">
  <strong>Partial says:</strong>
  <img src="~/images/logo.png" alt="from partial" />
  <a href="~/counter">to /counter</a>
  <span title="~/foo">title=~/foo (non-URL)</span>
</div>
